.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

form.auth {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
